**/.env
venv/
__pycache__/
*.pyc
.env

# Ignore node_modules and build artifacts for the frontend
Frontend/node_modules/
Frontend/build/
Frontend/config/urls.js

Backend-node/.env
Backend-node/node_modules/
Backend-node/.env
